[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
ipdb = "*"
pipenv = "*"
bumpversion = "*"
flake8 = "*"

[packages]
jaeger-client = "==4.1.0"
opentracing = "==2.1.0"
logzero = "==1.5.0"
walrus = "==0.7.1"
networkx = "==2.2"

[requires]
python_version = "3.6"
